version: "3.8"
services:

  postgres:
    container_name: postgres_team
    image: postgres:14.5-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DATABASE: "my"
      POSTGRES_PASSWORD: "my"
      POSTGRES_USER: "my"
      POSTGRES_HOST_AUTH_METHOD: "trust"
      POSTGRES_ALLOW_EMPTY_PASSWORD: 1
      POSTGRES_ROOT_PASSWORD: "root"
    volumes:
      - ../database:/var/lib/postgresql/data
    ports:
      - "8101:5432"
    networks:
      default:
        ipv4_address: ${COMPOSE_PROJECT_NETWORK}.7

networks:
  default:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: ${COMPOSE_PROJECT_NETWORK}.0/16
          gateway: ${COMPOSE_PROJECT_NETWORK}.1
